a {
    color: #666; /* Серый цвет текста */
    background: #ededed; /* Синий цвет фона */
    padding: 5px; /* Расстояние от текста до края */
    transition: 0.5s; /* Время перехода */
    font-size: 20px;
   }
   a:hover {
    color: #fff; /* Белый цвет текста */
    background: #0078a5; /* Синий цвет фона */
   }