<div class="main">
    <h1>Автожидкости</h1>
    <div>
        <label>Название</label>
        <input class ="lg-text-input" name="name" [(ngModel)]="name" />
    </div>
    <div>
        <label>Номер</label>
        <input class ="lg-text-input" name="nomer" [(ngModel)]="nomer"/>
    </div>
    <div>
        <label>Наличие</label>
        <input class ="lg-text-input-check" type="checkbox" name="done" [(ngModel)]="done"/>
    </div>
    <div>
      <label>Дата изготовления</label>
      <input class ="lg-text-input" name="data" [(ngModel)]="data"/>
    </div>
    <div>
      <label>Подходит для</label>
      <input class ="lg-text-input" name="cross" [(ngModel)]="cross"/>
    </div>
    <div>
        <button class="btn-primary" (click)="addItem()">Добавить</button>
    </div>
  </div>
  <div>
    <table class="table">
        <tbody>
          <tr>
            <th>Название</th>
            <th>Номер</th>
            <th>Наличие</th>
            <th>Дата изготовления</th>
            <th>Подходит для</th>
          </tr>
          <tr *ngFor="let zhizha of zhizh">
            <td>{{zhizha.name}}</td>
            <td>{{zhizha.nomer}}</td>
            <td>{{zhizha.done}}</td>
            <td>{{zhizha.data}}</td>
            <td>{{zhizha.cross}}</td>
          </tr>
        </tbody>
      </table>
  </div>